<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>

    <div class="header-stats">
        <div class="сpm">
            
        </div>
        <div class="accuracy">

        </div>
    </div>



    <div class="settings">
        <button class="settings-button"></button>
    </div>



    <div class="main">
        <div class="enter-field">

        </div>
        <div class="text-field">
            <span class="first-raw">

            </span>
            <span class="second-raw">

            </span>
            <span class="third-raw">

            </span>
        </div>
    </div>
</body>
</html>